form {
    width: 100%;
    max-width: max-content;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

textarea {
    resize: none; /* 禁止用戶調整 */
    height: auto; /* 高度可自由調整 */
}

small {
    display: block;
    margin-top: 5px;
    color: #555;
}

input[type="submit"], input[type="reset"] {
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #64afff;
}
