{% extends "base.html" %}
{% block title %}問卷填寫{% endblock title %}
{% block content %}
<div class='container'>
    <!--警示訊息-->
    {% if message %}
    <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <form name="my_questionnaire" action="." method="POST">
        {% csrf_token %}
        <div class="insidecontainer">
            <div class="entryarea">
                <input type="text" id="user_name" name="name" maxlength="4" required/>
                <div class="smallcontrol">您的姓名</div>
            </div>        
        </div>
        <div class="insidecontainer">
            <div class="entryarea">
                <input type="text" id="student_id" name="student_ID" maxlength="10" required/>
                <div class="smallcontrol">您的學號</div>
            </div>
        </div>
        <div class="questioncontrol">
            <label for="Q1">問題一 :</label>
            <div class="smallq">您最喜歡的大學課程是哪一門？為什麼？(30字以內)</div>
            <div class="te">
                <textarea id="Q1" name="question1" rows="4" cols="50" maxlength="30" required></textarea>
            </div>
        </div>
        <div class="questioncontrol">
            <label for="Q2">問題二 :</label>
            <div class="smallq">請用三個詞來形容您的個性特質，並解釋為什麼這些詞最能代表您？</div>
            <div class="te">
                <input id="trait_1" name="trait1" maxlength="10" placeholder="特質一" required>
                <input id="trait_2" name="trait2" maxlength="10" placeholder="特質二" required>
                <input id="trait_3" name="trait3" maxlength="10" placeholder="特質三" required>
            </div>
        </div>
        <div class="questioncontrol">
            <label for="Q3">問題三 :</label>
            <div class="smallq">你日常中喜歡做什麼事？(ex.讀書、各式運動等…)(30字以內)</div>
            <div class="te">
                <textarea id="Q3" name="question3" rows="4" cols="50" maxlength="30" required></textarea>
            </div>
        </div>
        <div class="questioncontrol">
            <div class="smallq">填一下聯絡方式~讓直屬知道你是誰</div>
            <label for="line_id">你的Line ID :</label>
            <div class="te">
                <input id="line_id" name="line_id" required>
            </div>
            <label for="instagram">你的IG帳號 :</label>
            <div class="te">
                <input id="instagram" name="instagram" required>
            </div>
        </div>
        <div class="g-recaptcha" data-sitekey="6LdrQBIqAAAAANGRlzisXic9Rbhq3NRShOMaLIHj"></div>
        <div class="submit">
            <input type="submit" value="送出表單" class="btn btn-secondary"/>
            <input type="reset" value="清除重填" class="btn btn-secondary"/>
        </div>
    </form>
</div>
{% endblock content %}
