<!-- post2db.html (dj4ch08 project) -->
{% extends "base.html" %}
{% block title %}問卷填寫{% endblock title %}
{% block content %}
<div class='container'>
{% if message %}
    <div class="alert alert-warning">{{ message }}</div>
{% endif %}
    <form name="my questionnaire" action="." method="POST">
        {% csrf_token %}
        <table>{{ QA_form.as_table }}</table>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <div class="g-recaptcha" data-sitekey="6LdrQBIqAAAAANGRlzisXic9Rbhq3NRShOMaLIHj"></div>
        <input type="submit" value=" 送出 ">
        <input type="reset" value=" 清除重填 ">
    </form>
</div>
{% endblock content %}