<!-- header.html (dj4ch06 project) -->
<nav>
    <div>
        <header>
            <div class="navbar-brand">NCU MIS</div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">填表單</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">後端</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post/">數據</a>
                </li>
            </ul>
            <div class="contactus">
                <a class="nav-link" href="/post/">聯絡管理員</a>
            </div>
        </header>
    </div>
</nav>