<!-- header.html (dj4ch06 project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <nav class='navbar navbar-expand-lg bg-body-tertiary'>
            <div class='container-fluid'>
                <a class='navbar-brand' href='#'>NCU MIS<a>
                        <div class="collapse navbar-collapse" id="navbarNavAltMakeup">
                            <div class="navbar-nav">
                                <!--各個功能按鈕-->
                                <a class="nav-link active" aria-current="page" href='/'>填寫表單</a>
                                <a class="nav-link" href="/contact/">聯絡管理員</a>
                                <a class="nav-link" href="/admin/">後台(暫放)</a>
                                <a class="nav-link" href="/post/">展示(暫放)</a>
                            </div>
                        </div>
            </div>
        </nav>
    </div>
</nav>