<!-- header.html (dj4ch06 project) -->
<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <nav class='navbar navbar-expand-lg bg-body-tertiary'>
            <div class='container-fluid'>
                <a class='navbar-brand' href='#'>NCU MIS<a>
                        <button class='navbar-toggler' type='botton' data-bs-toggle='collapses'
                            data-bs-target="#navbarNavAltMarkup" aria-controls='navbarNavAltMarkup'
                            aria-expanded='false' aria-lable='Toggle navigation'>
                            <span class='navbar-toggler-icon'></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMakeup">
                            <div class="navbar-nav">
                                <a class="nav-link active" aria-current="page" href='/'>表單填寫</a>
                                <a class="nav-link" href="/contact/">聯絡管理員</a>
                                <a class="nav-link" href="/admin/">後台(暫放)</a>
                                <a class="nav-link" href="/post/">展示(暫放)</a>
                            </div>
                        </div>
            </div>
        </nav>
    </div>
</nav>