<!-- index.html (dj4ch08 project) -->
{% extends "base.html" %}
{% block title %}我有話要說{% endblock title %}
{% block content %}
<div class='container'>

    <form name="my form" action="/" method="Get">
        <label for="byear">出生年:</label>
        <select name='byear'>
            {% for year in years %}
                <option value="{{year}}">{{year}}</option>
            {% endfor %}
        </select><br>

        最喜歡的顏色(可複選):
        <input type='checkbox' name='fcolor' value='Green'>Green
        <input type='checkbox' name='fcolor' value='Red'>Red
        <input type='checkbox' name='fcolor' value='Green'>Blue
        <input type='checkbox' name='fcolor' value='Green'>Yellow
        <input type='checkbox' name='fcolor' value='Green'>Orange<br/>

        <label for="user_id">Your ID:</label>
        <input id="user_id" type="text" name="user_id">
        <label for="user_pass">Your Password:</label>
        <input id="user_pass" type="password" name="user_pass">

        <input type="submit" value="登入">
        <input type="reset" value="清除重填">
    </form>
Your ID:{{ urid | default:"未輸入ID"}}<br/>
出生年:{{ byear }}<br/>
顏色喜好:
{% for c in urcolor %}
    {{ c }}
{% empty %}
    沒有選擇任何顏色    
{% endfor %}
<br/>

{% if verified %}
    <em>你通過驗證了~</em>
{% else %}
    <em>密碼或帳號打錯了喔</em>
{% endif %}
</div>
{% endblock content %}