@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

.container {
    /*background: #fff */
    background: 
        linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5) 
        ),
        url("/static/images/scenery.ba0881d14903.jpg");    
    background-size: 150%, 150%;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif;
    color: #636363;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 15px 20px 10px;
}

.alert-alert-warning{
    width:450px;
    height: 45px;
    background: #414141;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    border-radius: 5px;
    color:#f9f9f9ea;
    font-weight: 300;
    font-family: 微軟正黑體;
}

.table-striped {
    display: flex;
    justify-content: center;
}

.intrait {
    width: 250px;
    height: 180px;
}

.insidecontainer {
    width: 250px;
}

.inincontrol {
    width: 400px;
    height: 65px;
}

.entryarea {
    position: relative;
    height: 60px;
    line-height: 60px;
    z-index: 1;
}

.entryarea input {
    position: absolute;
    width: 70%;
    outline: none;
    font-size: 1em;
    padding: 0 10px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #636363;
    transition: 0.2s ease;
    z-index: 2;
}

.smallcontrol {
    position: absolute;
    font-size: 1.1em;
    font-weight: 300;
    color: #636363;
    font-weight: 350;
    white-space: nowrap;
    margin-left: 12px;
    margin-top: -9px;
    font-family: "微軟正黑體";
    z-index: 2;
}

.entryarea input:hover,
.entryarea input:valid,
.entryarea input:focus {
    color: #414141;
    border: 2px solid #414141;
}

.entryarea input:hover + .smallcontrol,
.entryarea input:valid + .smallcontrol,
.entryarea input:focus + .smallcontrol {
    color: #414141;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    transform: translate(-12px, -5px) scale(0.7);
    background: #FCFCFC;
    z-index: 111;
}

.con {
    margin: 10px 0;
    margin-bottom: 20px;
}

.questioncontrol {
    min-height: 80px; /* Adjust height to reduce space */
    padding-top: 5px;
    margin-bottom: 0; /* Remove bottom margin */
}

.questioncontrolcontrol {
    min-height: 60px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.smallq {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight:400;
    font-family: 微軟正黑體;
    color:#77556e;
}

.te textarea,
.te input {
    border-radius: 5px;
    border: 1px solid #636363;
    margin-top: 5px;
    padding-left: 8px;
    padding-top: 5px;
    height: 50%;
    width: 98%;
    font-size: 15px;
    transition: all 0.3s ease 0s;
}

.te textarea:hover,
.te input:hover,
.te textarea:focus,
.te input:focus,
.te textarea:valid,
.te input:valid {
    border: 2px solid #414141;
    color: #414141;
}

.sub{
    height:110px;
    margin-top:5px;
}

.submit {
    padding-top: 15px;
}

.btn-secondary {
    font-size: 15px;
    padding: 8px 15px;
    border: 1px solid #636363;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #636363;
    transition: 0.3s ease;
}

.btn-secondary:hover {
    border: 2px solid #414141;
    color: #414141;
    font-size: 20px;
    background-color: #FCFCFC;
}
